<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="cordova-plugin-inputfileselector" version="0.0.1">
    <name>InputFileSelector</name>

    <description>Android plugin to change the Input file selector from standard cordove one</description>
    <license></license>

    <keywords>cordova,android,file,,input</keywords>
    <repo>https://github.com/singhc00/InputFileSelector.git</repo>
    <issue>https://github.com/singhc00/InputFileSelector/issues</issue>
  
    <engines>
        <engine name="cordova" version=">=3.0.0"/>
    </engines>
  
    <js-module src="www/inputfileselector.js" name="inputFileSelector">
        <clobbers target="window.plugins.inputFileSelector" />
    </js-module>
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="InputFileSelector">
                <param name="android-package" value="com.singhc00.cordova.plugin.InputFileSelector"/>
                <param name="onload" value="true"/>
            </feature>
        </config-file>
        <!-- Supported android version to be able to use the plugin-->
        <framework src="com.android.support:support-v4:28.0.0" />
        <!-- Add the Android manifest for the file authorities-->
        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <provider android:name="com.singhc00.cordova.plugin.ExtendedFileProvider"
                      android:authorities="$PACKAGE_NAME.InputFileSelector"
                      android:exported="false"
                      android:grantUriPermissions="true">
                      <meta-data
                        android:name="android.support.FILE_PROVIDER_PATHS"
                        android:resource="@xml/inputfilepaths" />
            </provider>
        </config-file>
        <source-file src="src/android/inputfilepaths.xml" target-dir="res/xml/" />
        <source-file src="src/android/InputFileSelector.java" target-dir="src/com/singhc00/cordova/plugin" />
        <source-file src="src/android/ExtendedWebChromeClient.java" target-dir="src/com/singhc00/cordova/plugin"/>
        <source-file src="src/android/ExtendedFileProvider.java" target-dir="src/com/singhc00/cordova/plugin"/>
    </platform>
</plugin>